<p style="color: green"><%= notice %></p>

<h3><%= render @neighbourhood %></h3>

<p>
    Id: <%= @neighbourhood.id %> | Created at: <%= @neighbourhood.created_at %>
</p>

<h5>
    Parks in this neighbourhood: 
</h5>
<ul>
    <% if @parks.empty? %>
        <li>None found.</li>
    <% else %>
        <% @parks.each do |park| %>
        <li><%= link_to park.name, park_path(park) %> - Id: <%= park.id %> - Created at: <%= park.created_at %></li>
        <% end %>
    <% end %>
</ul>
<br>
<h5>
    Businesses in this neighbourhood: 
</h5>
<ul>
    <% if @businesses.empty? %>
        <li>None found.</li>
    <% else %>
        <% @businesses.each do |business| %>
        <li><%= link_to business.name, business_path(business) %> - Id: <%= business.id %> - Created at: <%= business.created_at %></li>
        <% end %>
    <% end %>
</ul>
<br>

<h5>
    Contractors in this neighbourhood: 
</h5>
<ul>
    <% if @contractors.empty? %>
        <li>None found.</li>
    <% else %>
        <% @contractors.each do |contractor| %>
        <li><%= link_to contractor.full_name, contractor_path(contractor) %> - Id: <%= contractor.id %> - Created at: <%= contractor.created_at %></li>
        <% end %>
    <% end %>
</ul>
<br>

<div>
  <%= link_to "Edit this neighbourhood", edit_neighbourhood_path(@neighbourhood) %> |
  <%= link_to "Back to neighbourhoods", neighbourhoods_path %>

  <%= button_to "Destroy this neighbourhood", @neighbourhood, method: :delete %>
</div>
