<p style="color: green"><%= notice %></p>

<%= render @park %>

<div>
  <%= link_to "Edit this park", edit_park_path(@park) %> |
  <%= link_to "Back to parks", parks_path %>

  <%= button_to "Destroy this park", @park, method: :delete %>
</div>
